.container{
	height: 100vh;
}

.footer-copyright{
	position: fixed;
    bottom: 20px;
	text-align: right;
	color: white;
	font-size: 17px;
	margin-left: 40%;
}

.preview{
	height: 150px;
    display: inline-block;
}

.collection .collection-item.avatar{
	padding-left: 10px;
	margin-bottom: 20px;
    border: none;
}

#title{
	font-size: 30px;
}

.content-row{
	margin-top: 10px;
}

.second-content{
	margin-top: 40px;
}

.status{
	padding-top: 25px;
	font-size: 15px;
}

.offline{
	color: red;
	font-size: 120px;
}

.online{
	color: green;
	font-size: 120px;
}

.collection{
	border: none;
}

#add-stream{
	color: white;
}

#add-stream-label{
	color: white;
	border-bottom: 2px solid white;
	width: 90%;
}

.search input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
}

.search input:focus + .results { display: block }

.search .results {
    /*display: none;*/
    position: absolute;
    z-index: 10;
    border-width: 1px;
    border-style: solid;
    border-color: #b2dfdb;
    border-radius: 3px;
    background-color: #b2dfdb;
    
}

.search .results li { 
	display: block;
	float: none;
	line-height: 30px;
	border-bottom-width: 3px;
	border-bottom-color: black;
}

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: #3F6787;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    padding: 6px 40px 6px 10px;
    color: #562828;
    font-size: 1.2rem;
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}